In [3]:
import pandas as pd
import numpy as np
import faker
from faker import Faker
import warnings
warnings.filterwarnings("ignore")

In [4]:
# !pip install faker --quiet

In [5]:
fake = Faker()

In [8]:
print("name: ", fake.name())
print("address: ", fake.address())
print("name_male: ", fake.name_male())
print("phone_number: ", fake.phone_number())
print("street_address: ", fake.street_address())
print("email: ", fake.email())
print("user_name: ", fake.user_name())
print("ipv4: ", fake.ipv4())
print("sentence: ", fake.sentence())

name:  Stephanie Williams
address:  429 Nicole Overpass Suite 759
Solomonton, NE 68511
name_male:  Evan Allen
phone_number:  981-211-6506x50415
street_address:  595 Richardson Village
email:  billy31@example.net
user_name:  glopez
ipv4:  145.241.0.32
sentence:  Baby group pick state against paper term war.

In [10]:
print(fake.job())
print(fake.date_of_birth())
print(fake.company())
print("company_email: ", fake.company_email())
print("color_name: ", fake.color_name())
print("color: ", fake.color()) # Hexa color)
print("password: ", fake.password())

Agricultural consultant
1915-01-05
Brown PLC
company_email:  brandonlyons@burton.com
color_name:  Crimson
color:  #25baad
password:  #Qh4JP!rpR

In [11]:
# How to generate dates

In [12]:
for _ in range(10):
    print(fake.date_between(start_date = '-1y', end_date = 'today'))

2023-04-15
2022-12-05
2022-11-03
2022-09-02
2023-02-05
2022-11-16
2023-03-11
2022-10-26
2023-03-29
2022-07-14

In [13]:
for _ in range(20):
    print(fake.name_female())

April Nelson
Kathleen Murray
Debbie Garrett
Brittany Clarke
Jamie Colon
Robin Gonzales
Karen Chapman
Samantha Hayes
Rebecca Martinez
Teresa Ward
Patricia Douglas
Heather Wise
Sarah Wilkinson
Heather Thomas
Christina Simon
Caitlin Vasquez
Melissa Ruiz
Angela Carpenter
Rhonda Becker
Rita Herrera

### Private IPs

In [14]:
from faker.providers import internet

In [15]:
fake.add_provider(internet)
print(fake.ipv4_private())

192.168.73.1

### Based on Region also you can generate Local names:

In [16]:
fake = faker.Faker(['it_IT','en_US','ja_JP','en_IN'])
for _ in range(20):
    print(fake.name())

佐藤 直子
林 治
清水 涼平
Pietro Grasso
Sana Saraf
Mary Liu
Dott. Priscilla Serao
伊藤 拓真
山本 稔
松本 晃
Vihaan Subramaniam
Thomas Adams
Michelangelo Barillaro
Damini Bali
Vito Stradivari
Gemma Magnani
Brent Booth
Miraya Chada
山下 舞
Goffredo Borsiere

### Unit Testing

In [18]:
Faker.seed(1000)
print(fake.name())

Vihaan Goda

In [19]:
Faker.seed(1020)
print(fake.name())

Romolo Pisacane

### Generate 100 unique name using Faker

In [20]:
names = [fake.unique.first_name() for i in range(100)]
assert len(set(names)) == len(names)

In [21]:
print(names)

['Kenneth', 'Carolyn', '洋介', '学', 'Badal', 'Gokul', 'Claudia', 'Kabir', 'Khushi', 'Carmelo', 'Paul', 'Eshani', 'Elena', 'Aarav', 'Vivaan', 'Gregory', 'Nadia', 'Lisa', '智也', '裕太', 'Alessia', '拓真', 'Massimo', 'Carla', 'Gabrielle', 'Galasso', 'さゆり', 'Ermenegildo', '裕美子', 'Michelangelo', '翔太', 'Livia', 'Holly', '七夏', '太一', '香織', 'Kimberly', 'Diana', 'Sana', 'Tina', 'Ojas', 'Phyllis', '涼平', 'Enrico', 'Dhruv', 'Divij', 'Mamooty', 'Joanna', 'Giorgio', 'Vittorio', 'Inaaya ', 'あすか', '治', 'Alexis', '知実', 'Lagan', 'Siya', 'Onkar', 'Arnaldo', 'Nirvaan', 'Reyansh', 'Bhavin', 'Yuvaan', 'Cecilia', 'Orazio', 'Liliana', '桃子', 'Marcello', 'Zara', 'Gianfrancesco', '聡太郎', 'Farhan', 'Tammy', 'Michael', 'Curtis', 'Lucia', 'Martino', 'Gatik', 'Sandra', 'Jessica', 'Hunar', '裕樹', 'Cassie', 'Pranay', 'Raffaellino', 'Aniruddh', 'Shaan', 'Raunak', '幹', 'Raffaele', 'Zeeshan', '太郎', 'Raghav', 'Philip', 'Kevin', 'Jacob', 'Donna', '明美', 'Federico', 'Jivin']

### How you can generate random Text that follows a specific pattern or format?

In [22]:
customer_name = fake.bothify(text = '????####', letters = 'ABCDE')

In [26]:
customer_name

'EECC1001'

In [28]:
for i in range(20):
    print(fake.bothify(text = '????####', letters = 'ABCDE'), end = " ")

CEEE3481 EEAA2498 AADB1708 BCBD2619 AAAE4317 DAEE9120 DBDE3595 EBBA8072 CEDB1620 CEDC8996 BABE8157 BEDD5006 ABBB4539 EBBE9080 DECE0706 BDCA4003 EDDC8729 CAAB0141 ECEE0901 BCDB9042

### Generate Data in the form of Pandas DataFrame

In [1]:
from faker.providers import misc, date_time, address
import random

In [6]:
order_ids = [fake.bothify(text = '????####', letters = 'ABCDE') for _ in range(100)]
order_dates = pd.date_range(start = "2022-01-01", end = "2022-04-10", periods = 100)
customers = [fake.name() for _ in range(100)]
regions = [fake.random_element(elements = ('East','West','North','South')) for _ in range(100)]
categories = ['Grocery' for _ in range(100)]
subcategories = [fake.random_element(elements = ('Bakery','Canned Goods','Dairy','Produce','Snacks')) for _ in range(100)]
grocery_words = ['break','milk','cheese','eggs','butter','flour','suger','rice','pasta']
product = [fake.random_element(elements = grocery_words) for _ in range(100)]
states = [fake.state() for _ in range(100)]

sales = [round(random.uniform(500,10000),2) for _ in range(100)]
profit = [round(random.uniform(50,2000),2) for _ in range(100)]
quantity = [random.randint(1,20) for _ in range(100)]

In [7]:
data = {"Order_ID" : order_ids,
       'Order_Date': order_dates,
       'Customer':customers,
       'Region': regions,
       'Category':categories,'Sub_Category':subcategories,"Product":product,
       'State':states, 'Sales':sales,"Profit":profit,"Quantity":quantity}

In [8]:
data.keys()

dict_keys(['Order_ID', 'Order_Date', 'Customer', 'Region', 'Category', 'Sub_Category', 'Product', 'State', 'Sales', 'Profit', 'Quantity'])

In [32]:
df = pd.DataFrame(data)

In [33]:
df.head()

,Order_ID,Order_Date,Customer,Region,Category,Sub_Category,Product,State,Sales,Profit,Quantity
0,AACD3780,2022-01-01,後藤 京助,West,Grocery,Canned Goods,cheese,Trento,3029.92,498.33,9
1,ABEC7644,2022-01-02,Jon Jones,North,Grocery,Bakery,milk,Sikkim,3140.81,1365.98,20
2,ADDA7617,2022-01-03,Steven Chen,East,Grocery,Produce,eggs,Crotone,9436.63,971.81,10
3,ACCC9844,2022-01-04,Sean Henry,West,Grocery,Canned Goods,eggs,Utah,1163.23,1332.80,12
4,CECC4546,2022-01-05,Mishti Ghosh,East,Grocery,Bakery,cheese,Modena,4294.12,235.71,5

### How to generate Fake Images

In [34]:
image_urls = [fake.image_url() for _ in range(10)]

In [35]:
image_urls

['https://picsum.photos/642/992',
 'https://placekitten.com/773/273',
 'https://placekitten.com/235/465',
 'https://picsum.photos/310/226',
 'https://dummyimage.com/303x374',
 'https://placekitten.com/84/735',
 'https://picsum.photos/253/732',
 'https://dummyimage.com/504x892',
 'https://picsum.photos/92/68',
 'https://picsum.photos/599/192']

### Faker Simple_Profile

In [36]:
fake.profile()

{'job': 'Doctor, general practice',
 'company': 'Wable-Konda',
 'ssn': '496-54-9256',
 'residence': '40/51\nTalwar Circle\nOrai 005954',
 'current_location': (Decimal('73.8672415'), Decimal('102.003458')),
 'blood_group': 'A-',
 'website': ['https://kibe.com/',
  'https://www.jha.com/',
  'http://bawa.com/',
  'https://chadha.org/'],
 'username': 'riaanedwin',
 'name': 'Lagan Kunda',
 'sex': 'F',
 'address': 'H.No. 720\nDate Street, Kulti-149167',
 'mail': 'tejasbose@hotmail.com',
 'birthdate': datetime.date(1983, 9, 15)}

In [38]:
fake.simple_profile()

{'username': 'elliotttracey',
 'name': 'Peter Lang',
 'sex': 'M',
 'address': '012 Patty Court Suite 500\nBrendantown, ME 65894',
 'mail': 'smithbelinda@gmail.com',
 'birthdate': datetime.date(1930, 10, 3)}

In [49]:
Faker.seed(12)
simple_profile = [fake.simple_profile() for i in range(100)]
df1 = pd.DataFrame(simple_profile)
df1.head()

,username,name,sex,address,mail,birthdate
0,groveranya,Hridaan Halder,M,"93/809\nKannan Street, Ujjain 309318",pihu61@gmail.com,1915-07-25
1,ambermacias,Jessica Wallace DDS,F,"281 Lawson Skyway\nWoodsfurt, ND 04497",poncetheresa@hotmail.com,1942-11-21
2,naoki55,森 和也,M,岡山県東村山市西浅草12丁目1番13号 筑土八幡町パレス360,mtanaka@gmail.com,2009-10-24
3,ocooper,Denise Hamilton,F,"3547 Terry Walks Suite 327\nHunterbury, PW 80050",mezarose@yahoo.com,1931-09-22
4,yolanda82,Danielle Wilson,F,"413 Burns Knoll Suite 727\nChristinaton, KY 43754",nbush@hotmail.com,1946-01-30

In [50]:
print([i for i in dir(fake) if "__" not in i])

['_cached_bothify_mapping', '_cached_first_name_mapping', '_cached_image_mapping', '_cached_image_url_mapping', '_cached_name_mapping', '_cached_profile_mapping', '_cached_providers_mapping', '_cached_random_choices_mapping', '_cached_random_digit_mapping', '_cached_random_digit_not_null_mapping', '_cached_random_digit_not_null_or_empty_mapping', '_cached_random_digit_or_empty_mapping', '_cached_random_element_mapping', '_cached_random_elements_mapping', '_cached_random_int_mapping', '_cached_random_letter_mapping', '_cached_random_letters_mapping', '_cached_random_lowercase_letter_mapping', '_cached_random_number_mapping', '_cached_random_sample_mapping', '_cached_random_uppercase_letter_mapping', '_cached_randomize_nb_elements_mapping', '_cached_rgb_color_mapping', '_cached_rgb_css_color_mapping', '_cached_ripe_id_mapping', '_cached_romanized_name_female_mapping', '_cached_romanized_name_male_mapping', '_cached_romanized_name_mapping', '_cached_secondary_address_mapping', '_cached_sentence_mapping', '_cached_sentences_mapping', '_cached_simple_profile_mapping', '_cached_state_mapping', '_factories', '_factory_map', '_locales', '_map_provider_method', '_select_factory', '_select_factory_choice', '_select_factory_distribution', '_unique_proxy', '_weights', 'aadhaar_id', 'aba', 'add_provider', 'address', 'administrative_unit', 'am_pm', 'android_platform_token', 'area_code', 'ascii_company_email', 'ascii_email', 'ascii_free_email', 'ascii_safe_email', 'ban', 'bank', 'bank_country', 'bban', 'binary', 'boolean', 'bothify', 'bs', 'building_name', 'building_number', 'cache_pattern', 'catch_phrase', 'century', 'chome', 'chrome', 'city', 'city_name', 'city_prefix', 'city_suffix', 'color', 'color_name', 'company', 'company_category', 'company_email', 'company_prefix', 'company_suffix', 'company_vat', 'coordinate', 'country', 'country_calling_code', 'country_code', 'credit_card_expire', 'credit_card_full', 'credit_card_number', 'credit_card_provider', 'credit_card_security_code', 'cryptocurrency', 'cryptocurrency_code', 'cryptocurrency_name', 'csv', 'currency', 'currency_code', 'currency_name', 'currency_symbol', 'current_country', 'current_country_code', 'date', 'date_between', 'date_between_dates', 'date_object', 'date_of_birth', 'date_this_century', 'date_this_decade', 'date_this_month', 'date_this_year', 'date_time', 'date_time_ad', 'date_time_between', 'date_time_between_dates', 'date_time_this_century', 'date_time_this_decade', 'date_time_this_month', 'date_time_this_year', 'day_of_month', 'day_of_week', 'del_arguments', 'dga', 'domain_name', 'domain_word', 'dsv', 'ean', 'ean13', 'ean8', 'ein', 'email', 'emoji', 'enum', 'factories', 'file_extension', 'file_name', 'file_path', 'firefox', 'first_kana_name', 'first_kana_name_female', 'first_kana_name_male', 'first_name', 'first_name_female', 'first_name_female_pair', 'first_name_male', 'first_name_male_pair', 'first_name_nonbinary', 'first_name_pair', 'first_romanized_name', 'first_romanized_name_female', 'first_romanized_name_male', 'fixed_width', 'format', 'free_email', 'free_email_domain', 'future_date', 'future_datetime', 'generator_attrs', 'get_arguments', 'get_formatter', 'get_providers', 'gou', 'hex_color', 'hexify', 'hostname', 'http_method', 'iana_id', 'iban', 'image', 'image_url', 'internet_explorer', 'invalid_ssn', 'ios_platform_token', 'ipv4', 'ipv4_network_class', 'ipv4_private', 'ipv4_public', 'ipv6', 'isbn10', 'isbn13', 'iso8601', 'items', 'itin', 'jan', 'jan13', 'jan8', 'job', 'json', 'json_bytes', 'kana_name', 'kana_name_female', 'kana_name_male', 'language_code', 'language_name', 'last_kana_name', 'last_name', 'last_name_female', 'last_name_male', 'last_name_nonbinary', 'last_name_pair', 'last_romanized_name', 'latitude', 'latlng', 'lexify', 'license_plate', 'linux_platform_token', 'linux_processor', 'local_latlng', 'locale', 'locales', 'localized_ean', 'localized_ean13', 'localized_ean8', 'location_on_land', 'longitude', 'mac_address', 'mac_platform_token', 'mac_processor', 'md5', 'military_apo', 'military_dpo', 'military_ship', 'military_state', 'mime_type', 'month', 'month_name', 'msisdn', 'name', 'name_female', 'name_male', 'name_nonbinary', 'nic_handle', 'nic_handles', 'null_boolean', 'numerify', 'opera', 'paragraph', 'paragraphs', 'parse', 'password', 'past_date', 'past_datetime', 'phone_number', 'port_number', 'postalcode', 'postalcode_in_state', 'postalcode_plus4', 'postcode', 'postcode_city_province', 'postcode_in_state', 'prefecture', 'prefix', 'prefix_female', 'prefix_male', 'prefix_nonbinary', 'pricetag', 'profile', 'provider', 'providers', 'psv', 'pybool', 'pydecimal', 'pydict', 'pyfloat', 'pyint', 'pyiterable', 'pylist', 'pyobject', 'pyset', 'pystr', 'pystr_format', 'pystruct', 'pytimezone', 'pytuple', 'random', 'random_choices', 'random_digit', 'random_digit_not_null', 'random_digit_not_null_or_empty', 'random_digit_or_empty', 'random_element', 'random_elements', 'random_int', 'random_letter', 'random_letters', 'random_lowercase_letter', 'random_number', 'random_sample', 'random_uppercase_letter', 'randomize_nb_elements', 'rgb_color', 'rgb_css_color', 'ripe_id', 'romanized_name', 'romanized_name_female', 'romanized_name_male', 'safari', 'safe_color_name', 'safe_domain_name', 'safe_email', 'safe_hex_color', 'sbn9', 'secondary_address', 'seed', 'seed_instance', 'seed_locale', 'sentence', 'sentences', 'set_arguments', 'set_formatter', 'sha1', 'sha256', 'simple_profile', 'slug', 'ssn', 'state', 'state_abbr', 'street_address', 'street_name', 'street_suffix', 'suffix', 'suffix_female', 'suffix_male', 'suffix_nonbinary', 'swift', 'swift11', 'swift8', 'tar', 'text', 'texts', 'time', 'time_delta', 'time_object', 'time_series', 'timezone', 'tld', 'town', 'tsv', 'unique', 'unix_device', 'unix_partition', 'unix_time', 'upc_a', 'upc_e', 'uri', 'uri_extension', 'uri_page', 'uri_path', 'url', 'user_agent', 'user_name', 'uuid4', 'vat_id', 'weights', 'windows_platform_token', 'word', 'words', 'year', 'zip', 'zipcode', 'zipcode_in_state', 'zipcode_plus4']